/* NOTE:
 * Grid layout stuff starts at line 138.
 * The stuff before is just boring old CSS to make content look not crappy.
 */

/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
.site {
	background: #ededed;
	min-height: 100vh;
}

.sidebar,
.twin,
.twin2,
.footer {
	padding: 1em 2em;
}

.main-content {
	background: white;
}
.masthead {
	background: #fff;
	height: 95px;
	padding: 15px 0px 0px 20px;
	color: 000;
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
	box-shadow: 0 1px 8px rgba(0,0,0,.3);
	z-index: 1;
}
.masthead h2 {
	padding:0px;
}


.sidebar {
	background: #FF7F66;
}

.twin,
.twin2{
	background: #2185C5;
}

.twin:last-of-type {
	background: #7ECEFD;
}

.colophon {
	padding: 2em;
	background: #fff;
	color: #000;
}

.colophon a {
	color: white;
}

.colophon a:hover,
.colophon a:focus {
	border-bottom: 1px solid white;
}

/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/
.nav-wrapper {
	float: right;
	padding: 0px 20px 0px 0px;
}
.quick-contact {
	text-align: right;
	padding-right: 14px;
}
.linkMenu {
	float: right;
}
.linkMenu a {
	float: left;
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: arial;
}

.linkMenu a:hover {
	background-color: #ddd;
	color: black;
}

.linkMenu a.active {
	background-color: #e6e6e6;
	color: #000;
}

.topnav {
	overflow: hidden;
	background-color: #fff;
}

.topnav a {
	float: left;
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #4CAF50;
	color: 000;
}

.topnav .icon {
	display: none;
}

@media screen and (max-width: 850px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 850px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

/* This hides the telephone number when reduced to mobile. For aesthetics */
@media screen and (max-width: 600px) {
	.quick-contact {
		display: none;
	}
}


/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer {
	font-size: 14px;
}
span.socialmedia {
	float: right;
}
.fab {
	font-size: 30px;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
	.site {
		max-width: 50em;
		margin: 0 auto;
	}
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@media screen and (min-width: 600px) {
	@supports (display: grid) {

		.site {
			display: grid;
			grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
			grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
		}

		.masthead,
		.colophon {
			grid-column: span 8;
		}

		.main-content {
			grid-column: 2/6;
		}

		.sidebar {
			grid-column: 6/8;
		}

		.twin {
			grid-column: 2/5;
			grid-row: 3/4;
		}

		.twin:last-of-type {
			grid-column: 5/8;
		}

		.twin2 {

			grid-row: 3/4;
		}
	}
}
